<a href="https://colab.research.google.com/github/Tayyab7404/Data-Analysis/blob/main/Pandas%20Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Series

In [1]:
import pandas as pd

### 1. Write a program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [2]:
ser = pd.Series([1,2,3,4,5,6,7,8])

print(ser)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

### 2. Write a program to convert a pandas module series to python list

In [3]:
ser = pd.Series([1,2,3,4,5,6,7,8])

ser = ser.tolist()

print(ser)

[1, 2, 3, 4, 5, 6, 7, 8]

### 3. Write a program to add, subtract, multiply and divide two pandas series

In [4]:
ser1 = pd.Series([1,2,3,4,5,6,7,8])
ser2 = pd.Series([8,7,6,5,4,3,2,1])

print(ser1 + ser2)
print(ser1 - ser2)
print(ser1 * ser2)
print(ser1 / ser2)

0    9
1    9
2    9
3    9
4    9
5    9
6    9
7    9
dtype: int64
0   -7
1   -5
2   -3
3   -1
4    1
5    3
6    5
7    7
dtype: int64
0     8
1    14
2    18
3    20
4    20
5    18
6    14
7     8
dtype: int64
0    0.125000
1    0.285714
2    0.500000
3    0.800000
4    1.250000
5    2.000000
6    3.500000
7    8.000000
dtype: float64

### 4. Write a program to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.

In [5]:
ser = pd.Series(["Tayyab","Roshan","Sathish","Neeraj"])

print(ser.str.upper())
print(ser.str.lower())
print(ser.str.len())

0     TAYYAB
1     ROSHAN
2    SATHISH
3     NEERAJ
dtype: object
0     tayyab
1     roshan
2    sathish
3     neeraj
dtype: object
0    6
1    6
2    7
3    6
dtype: int64

### 5. Write a program to remove white spaces, left sided white spaces and right sided white spaces of the string values of a given pandas series

In [6]:
ser = pd.Series([" Tayyab ","Roshan "," Sathish"," Neeraj "])

print(ser)
print(ser.str.strip())
print(ser.str.lstrip())
print(ser.str.rstrip())

0     Tayyab
1     Roshan
2     Sathish
3     Neeraj
dtype: object
0     Tayyab
1     Roshan
2    Sathish
3     Neeraj
dtype: object
0    Tayyab
1    Roshan
2    Sathish
3    Neeraj
dtype: object
0      Tayyab
1      Roshan
2     Sathish
3      Neeraj
dtype: object

### 6. Write a program to create and display a DataFrame consisting of Student Name, Father Name , Mobile Number as columns and Register Number as index.

In [7]:
data = {"Regd. No.": ["Y21CS172", "Y21CS185", "Y21CS160", "Y21CS197"],
        "Student Name": ["Tayyab", "Neeraj", "Roshan", "Sathish"],
        "Father Name": ["Tayyab Sr.", "Neeraj Sr.", "Roshan Sr.", "Sathish Sr."],
        "Mobile Number": ["9032301700", "6309321875", "9848032919", "8759623415"]
       }

df = pd.DataFrame(data)

df.set_index("Regd. No.", inplace=True)

print(df)

          Student Name  Father Name Mobile Number
Regd. No.
Y21CS172        Tayyab   Tayyab Sr.    9032301700
Y21CS185        Neeraj   Neeraj Sr.    6309321875
Y21CS160        Roshan   Roshan Sr.    9848032919
Y21CS197       Sathish  Sathish Sr.    8759623415

### 7. Write a program to get list from DataFrame column headers.

In [8]:
data = {"Regd. No.": ["Y21cs172", "Y21CS185", "Y21CS160", "Y21CS197"],
        "Name": ["Tayyab", "Neeraj", "Roshan", "Sathish"],
        "Age": [19, 19, 18, 18]
       }

df = pd.DataFrame(data)

column_headers = df.columns

print(column_headers)

Index(['Regd. No.', 'Name', 'Age'], dtype='object')

### 8. Write a program to change the name of the student.

In [9]:
data = {"Regd. No.": ["Y21cs172", "Y21CS185", "Y21CS160", "Y21CS164"],
        "Name": ["Tayyab", "Neeraj", "Roshan", "Sathish"]
       }

df = pd.DataFrame(data)

df["Name"] = df["Name"].replace("Sathish", "Shreyas")

print(df)

  Regd. No.     Name
0  Y21cs172   Tayyab
1  Y21CS185   Neeraj
2  Y21CS160   Roshan
3  Y21CS164  Shreyas

### 9. Write a program to insert a new column “grade” in existing DataFrame

In [10]:
data = {"Regd. No.": ["Y21cs172", "Y21CS185", "Y21CS160", "Y21CS197"],
        "Name": ["Tayyab", "Neeraj", "Roshan", "Sathish"]
       }

df = pd.DataFrame(data)

df.insert(2, 'Grade', ['A', 'B', 'A+', 'B'])

print(df)

  Regd. No.     Name Grade
0  Y21cs172   Tayyab     A
1  Y21CS185   Neeraj     B
2  Y21CS160   Roshan    A+
3  Y21CS197  Sathish     B

### 10. Write a program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [11]:
data = {"Name": ["Tayyab", "Neeraj", "Roshan", "Sathish"],
        "ATFL": [87, 92, 94, 90],
        "CN": [89, 93, 95, 87],
        "DAA": [78, 85, 89, 80]
       }

df = pd.DataFrame(data)

df.index = [1, 2, 3, 4]

print(df)

      Name  ATFL  CN  DAA
1   Tayyab    87  89   78
2   Neeraj    92  93   85
3   Roshan    94  95   89
4  Sathish    90  87   80