# Pandas DataFrames

In [4]:
import pandas as pd

## I. Import and read an Excel file.

In [8]:
data = pd.read_excel("DataFrames_Dataset.xlsx")

display(data)

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
0,20201701,1982,Graduation,Single,58138.0,2012-04-09 00:00:00,58,8,4,0,3,11
1,20201702,1950,Graduation,Married,46344.0,2014-08-03 00:00:00,38,1,2,0,3,11
2,20201703,1965,Graduation,Divorced,71613.0,8/21/2013,26,8,10,0,3,11
3,20201704,1984,Graduation,Relationship,26646.0,2014-10-02 00:00:00,26,2,4,0,3,11
4,20201705,1981,PhD,Widowed,58293.0,1/19/2014,94,5,6,0,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...
494,20202195,1944,PhD,Divorced,55614.0,11/27/2013,85,9,6,0,3,11
495,20202196,1962,Master,Divorced,59432.0,4/13/2013,88,5,11,0,3,11
496,20202197,1978,Graduation,Divorced,55563.0,2014-05-04 00:00:00,22,2,3,0,3,11
497,20202198,1971,PhD,Relationship,43624.0,4/21/2013,83,4,4,0,6,11
498,20202199,1949,PhD,Relationship,41461.0,5/22/2014,63,6,11,0,6,11

## II. To Generate a basic understanding of a given data.

### a. Print First 5 rows, last 5 rows of data.

In [3]:
display(data.head(5))

display(data.tail(5))

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
0,20201701,1982,Graduation,Single,58138.0,2012-04-09 00:00:00,58,8,4,0,3,11
1,20201702,1950,Graduation,Married,46344.0,2014-08-03 00:00:00,38,1,2,0,3,11
2,20201703,1965,Graduation,Divorced,71613.0,8/21/2013,26,8,10,0,3,11
3,20201704,1984,Graduation,Relationship,26646.0,2014-10-02 00:00:00,26,2,4,0,3,11
4,20201705,1981,PhD,Widowed,58293.0,1/19/2014,94,5,6,0,3,11

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
494,20202195,1944,PhD,Divorced,55614.0,11/27/2013,85,9,6,0,3,11
495,20202196,1962,Master,Divorced,59432.0,4/13/2013,88,5,11,0,3,11
496,20202197,1978,Graduation,Divorced,55563.0,2014-05-04 00:00:00,22,2,3,0,3,11
497,20202198,1971,PhD,Relationship,43624.0,4/21/2013,83,4,4,0,6,11
498,20202199,1949,PhD,Relationship,41461.0,5/22/2014,63,6,11,0,6,11

### b. Check the basic information of the data.

In [5]:
print(data.info())

display(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        499 non-null    int64
 1   year_of_birth      499 non-null    int64
 2   educational_level  499 non-null    object
 3   marital_status     499 non-null    object
 4   annual_income      486 non-null    float64
 5   purhcase_date      499 non-null    object
 6   recency            499 non-null    int64
 7   online_purchases   499 non-null    int64
 8   store_purchases    499 non-null    int64
 9   complaints         499 non-null    int64
 10  calls              499 non-null    int64
 11  intercoms          499 non-null    int64
dtypes: float64(1), int64(8), object(3)
memory usage: 46.9+ KB
None

,customer_id,year_of_birth,annual_income,recency,online_purchases,store_purchases,complaints,calls,intercoms
count,4.990000e+02,499.000000,486.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,2.020195e+07,1978.284569,51454.504115,48.228457,3.969940,5.779559,0.252505,3.370741,10.168337
std,1.441932e+02,14.471242,21619.285903,29.077101,2.813675,3.301378,1.115953,4.327091,2.800552
min,2.020170e+07,1899.000000,2447.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
25%,2.020183e+07,1970.000000,33858.000000,23.000000,2.000000,3.000000,0.000000,3.000000,11.000000
50%,2.020195e+07,1981.000000,50841.500000,47.000000,3.000000,5.000000,0.000000,3.000000,11.000000
75%,2.020207e+07,1989.000000,68483.750000,74.000000,6.000000,8.000000,0.000000,3.000000,11.000000
max,2.020220e+07,2000.000000,157243.000000,99.000000,27.000000,13.000000,11.000000,88.000000,44.000000

### c. Extract the shape of the data.

In [6]:
print("Data Shape: ",data.shape)

Data Shape:  (499, 12)

### d. Print the unique values of the marital status field based on the column.

In [7]:
print(data["marital_status"].unique())

['Single' 'Married' 'Divorced' 'Relationship' 'Widowed' 'Widow']

### e. To make it consistent data(widow and widowed) are two different naming for the same category on the column values.

In [8]:
data["marital_status"] = data["marital_status"].replace("Widowed", "Widow")

print(data["marital_status"].unique())

['Single' 'Married' 'Divorced' 'Relationship' 'Widow']

### f. Check for duplicates and null values in the whole dataset.

In [9]:
print(data.duplicated())

display(data.isnull())

0      False
1      False
2      False
3      False
4      False
       ...
494    False
495    False
496    False
497    False
498    False
Length: 499, dtype: bool

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
494,False,False,False,False,False,False,False,False,False,False,False,False
495,False,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False,False

## III. Select and filter data based on conditions.

### a. Select a subset of the data points(Birthdate, Education, and Income of every customer) from the data frame.

In [10]:
data_subset = data[['year_of_birth ', 'educational_level', 'annual_income']]

display(data_subset)

     year_of_birth  educational_level  annual_income
0              1982        Graduation        58138.0
1              1950        Graduation        46344.0
2              1965        Graduation        71613.0
3              1984        Graduation        26646.0
4              1981               PhD        58293.0
..              ...               ...            ...
494            1944               PhD        55614.0
495            1962            Master        59432.0
496            1978        Graduation        55563.0
497            1971               PhD        43624.0
498            1949               PhD        41461.0

[499 rows x 3 columns]

### b. Using loc() and iloc() methods to retrieve the first seven data points.

In [11]:
display(data.loc[0:6])

display(data.iloc[0:7])

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
0,20201701,1982,Graduation,Single,58138.0,2012-04-09 00:00:00,58,8,4,0,3,11
1,20201702,1950,Graduation,Married,46344.0,2014-08-03 00:00:00,38,1,2,0,3,11
2,20201703,1965,Graduation,Divorced,71613.0,8/21/2013,26,8,10,0,3,11
3,20201704,1984,Graduation,Relationship,26646.0,2014-10-02 00:00:00,26,2,4,0,3,11
4,20201705,1981,PhD,Widow,58293.0,1/19/2014,94,5,6,0,3,11
5,20201706,1967,Master,Relationship,62000.0,2013-09-09 00:00:00,16,6,10,5,3,11
6,20201707,1971,Graduation,Divorced,55635.0,11/13/2012,34,7,7,0,3,11

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
0,20201701,1982,Graduation,Single,58138.0,2012-04-09 00:00:00,58,8,4,0,3,11
1,20201702,1950,Graduation,Married,46344.0,2014-08-03 00:00:00,38,1,2,0,3,11
2,20201703,1965,Graduation,Divorced,71613.0,8/21/2013,26,8,10,0,3,11
3,20201704,1984,Graduation,Relationship,26646.0,2014-10-02 00:00:00,26,2,4,0,3,11
4,20201705,1981,PhD,Widow,58293.0,1/19/2014,94,5,6,0,3,11
5,20201706,1967,Master,Relationship,62000.0,2013-09-09 00:00:00,16,6,10,5,3,11
6,20201707,1971,Graduation,Divorced,55635.0,11/13/2012,34,7,7,0,3,11

### c. Filter data using the loc() and isin() methods. (Note: we choose the variable of interest and we select the categories).

In [13]:
display(data.loc[:,"recency"].isin(list(range(60))))

0       True
1       True
2       True
3       True
4      False
       ...
494    False
495    False
496     True
497    False
498    False
Name: recency, Length: 499, dtype: bool

### d. In our data, that satisfies two conditions such as choosing the customers with an income higher than 75,000 and with a masterâ€™s degree(using python operators) and display the output.

In [14]:
display(data[data["annual_income"] > 75000][data["educational_level"] == "Master"])

<ipython-input-14-12bbf6b458aa>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  display(data[data["annual_income"] > 75000][data["educational_level"] == "Master"])

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
18,20201719,1980,Master,Single,76995.0,3/28/2013,91,11,9,4,3,11
51,20201752,1964,Master,Single,79143.0,2012-11-08 00:00:00,2,6,13,0,3,11
55,20201756,1955,Master,Married,82384.0,11/19/2012,55,3,13,0,3,11
60,20201761,1982,Master,Single,75777.0,2013-04-07 00:00:00,12,3,11,0,3,11
76,20201777,1993,Master,Married,75251.0,8/27/2012,34,7,5,0,3,11
109,20201810,1993,Master,Single,89058.0,2012-07-12 00:00:00,18,5,4,0,3,7
120,20201821,1957,Master,Relationship,88193.0,6/20/2013,65,6,10,0,5,11
140,20201841,1987,Master,Single,92859.0,10/19/2012,46,5,12,0,3,2
217,20201918,1985,Master,Widow,83790.0,11/15/2013,81,8,6,0,3,11
277,20201978,1981,Master,Single,77882.0,4/30/2014,29,3,5,0,3,11
305,20202006,1983,Master,Widow,80950.0,3/28/2013,44,6,9,0,3,11
423,20202124,1973,Master,Relationship,82584.0,2013-04-06 00:00:00,26,3,8,0,3,11
435,20202136,1983,Master,Relationship,82634.0,6/21/2013,49,1,3,0,0,11

## IV. Apply various data operation tools such as creating new variables or changing data types.

### a. Setting a new index with the variable of our interest using the .set_index() method.

In [15]:
display(data.loc[205:210, ['year_of_birth ', 'customer_id', 'educational_level', 'annual_income']].set_index("customer_id"))

             year_of_birth  educational_level  annual_income
customer_id
20201906               1991            Master        18890.0
20201907               1992        Graduation        29604.0
20201908               1993            Master        48721.0
20201909               1994        Graduation        44794.0
20201910               1982        Graduation        64497.0
20201911               1975        Graduation        46097.0

### b. Sorting the data frame by one of the variable using .sort_values() with ascending or descending order.

In [16]:
display(data.sort_values("recency", ascending=True))

display(data.sort_values("recency", ascending=False))

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
391,20202092,1970,Master,Divorced,62499.0,2013-09-12 00:00:00,0,3,6,0,3,11
23,20201724,1954,PhD,Relationship,64500.0,2014-11-01 00:00:00,0,6,9,6,3,11
347,20202048,1970,Graduation,Married,84835.0,6/16/2014,0,4,6,0,3,11
100,20201801,1984,High School,Married,47823.0,7/23/2013,0,2,3,0,3,7
160,20201861,1957,Master,Relationship,30523.0,2013-01-07 00:00:00,0,1,2,0,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...
444,20202145,1992,High School,Married,20130.0,3/17/2014,99,1,3,0,3,11
208,20201909,1994,Graduation,Single,44794.0,2014-08-06 00:00:00,99,2,3,0,2,11
192,20201893,1975,High School,Divorced,36640.0,9/26/2013,99,2,2,1,3,2
38,20201739,1973,Graduation,Widow,42429.0,2014-11-02 00:00:00,99,1,3,0,3,11
491,20202192,1976,Graduation,Divorced,46310.0,2012-03-12 00:00:00,99,6,5,0,3,11

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
208,20201909,1994,Graduation,Single,44794.0,2014-08-06 00:00:00,99,2,3,0,2,11
444,20202145,1992,High School,Married,20130.0,3/17/2014,99,1,3,0,3,11
491,20202192,1976,Graduation,Divorced,46310.0,2012-03-12 00:00:00,99,6,5,0,3,11
38,20201739,1973,Graduation,Widow,42429.0,2014-11-02 00:00:00,99,1,3,0,3,11
192,20201893,1975,High School,Divorced,36640.0,9/26/2013,99,2,2,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...
391,20202092,1970,Master,Divorced,62499.0,2013-09-12 00:00:00,0,3,6,0,3,11
160,20201861,1957,Master,Relationship,30523.0,2013-01-07 00:00:00,0,1,2,0,3,7
23,20201724,1954,PhD,Relationship,64500.0,2014-11-01 00:00:00,0,6,9,6,3,11
100,20201801,1984,High School,Married,47823.0,7/23/2013,0,2,3,0,3,7
347,20202048,1970,Graduation,Married,84835.0,6/16/2014,0,4,6,0,3,11

### c. Creating a new variable which could be the result of a mathematical operation such as sum of other variables.

In [17]:
data["total_purchases"] = data["online_purchases"] + data["store_purchases"]

display(data)

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms,total_purchases
0,20201701,1982,Graduation,Single,58138.0,2012-04-09 00:00:00,58,8,4,0,3,11,12
1,20201702,1950,Graduation,Married,46344.0,2014-08-03 00:00:00,38,1,2,0,3,11,3
2,20201703,1965,Graduation,Divorced,71613.0,8/21/2013,26,8,10,0,3,11,18
3,20201704,1984,Graduation,Relationship,26646.0,2014-10-02 00:00:00,26,2,4,0,3,11,6
4,20201705,1981,PhD,Widow,58293.0,1/19/2014,94,5,6,0,3,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,20202195,1944,PhD,Divorced,55614.0,11/27/2013,85,9,6,0,3,11,15
495,20202196,1962,Master,Divorced,59432.0,4/13/2013,88,5,11,0,3,11,16
496,20202197,1978,Graduation,Divorced,55563.0,2014-05-04 00:00:00,22,2,3,0,3,11,5
497,20202198,1971,PhD,Relationship,43624.0,4/21/2013,83,4,4,0,6,11,8
498,20202199,1949,PhD,Relationship,41461.0,5/22/2014,63,6,11,0,6,11,17

### d. Changing the datatype of variables into datetime or integer types.

In [18]:
data["purhcase_date"] = pd.to_datetime(data["purhcase_date"])

display(data)

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms,total_purchases
0,20201701,1982,Graduation,Single,58138.0,2012-04-09,58,8,4,0,3,11,12
1,20201702,1950,Graduation,Married,46344.0,2014-08-03,38,1,2,0,3,11,3
2,20201703,1965,Graduation,Divorced,71613.0,2013-08-21,26,8,10,0,3,11,18
3,20201704,1984,Graduation,Relationship,26646.0,2014-10-02,26,2,4,0,3,11,6
4,20201705,1981,PhD,Widow,58293.0,2014-01-19,94,5,6,0,3,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,20202195,1944,PhD,Divorced,55614.0,2013-11-27,85,9,6,0,3,11,15
495,20202196,1962,Master,Divorced,59432.0,2013-04-13,88,5,11,0,3,11,16
496,20202197,1978,Graduation,Divorced,55563.0,2014-05-04,22,2,3,0,3,11,5
497,20202198,1971,PhD,Relationship,43624.0,2013-04-21,83,4,4,0,6,11,8
498,20202199,1949,PhD,Relationship,41461.0,2014-05-22,63,6,11,0,6,11,17

### e. Determining the age based on year of birth.

In [19]:
from datetime import date

today = date.today()

print(today.year - data["year_of_birth "])

0      41
1      73
2      58
3      39
4      42
       ..
494    79
495    61
496    45
497    52
498    74
Name: year_of_birth , Length: 499, dtype: int64

### f. Creating the week date (calendar week and year) from the purchase date.

In [20]:
print(data["purhcase_date"].dt.week)

0      15
1      31
2      34
3      40
4       3
       ..
494    48
495    15
496    18
497    16
498    21
Name: purhcase_date, Length: 499, dtype: int64

<ipython-input-20-29aaba147872>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print(data["purhcase_date"].dt.week)

## V. Perform data aggregation using group by and pivot table methods.

### a. To apply groupby() method to find the mean of income, recency, number of web and store purchases by educational group.

In [10]:

df = pd.DataFrame(data)
grouped_df = df.groupby('educational_level')[['annual_income', 'recency', 'online_purchases', 'store_purchases']].mean()

print(grouped_df)

                   annual_income    recency  online_purchases  store_purchases
educational_level
Basic               19514.571429  53.571429          1.571429         2.857143
Graduation          51607.827309  47.171206          3.887160         5.840467
High School         44154.717949  58.400000          3.450000         4.600000
Master              51191.700000  45.000000          4.049383         5.691358
PhD                 55878.990991  49.008772          4.429825         6.298246

### b. To apply pivot_table() method to find the aggregated sum of purchases and mean of recency per education and marital status group.

In [12]:

pivot_table_result = pd.pivot_table(
    df,
    values=['online_purchases', 'store_purchases', 'recency'],
    index=['educational_level', 'marital_status'],
    aggfunc={'online_purchases': 'sum', 'store_purchases': 'sum', 'recency': 'mean'}
)

print(pivot_table_result)

                                  online_purchases    recency  store_purchases
educational_level marital_status
Basic             Divorced                       4  68.333333                9
                  Relationship                   6  39.333333                9
                  Single                         1  52.000000                2
Graduation        Divorced                     195  54.897959              286
                  Married                      249  42.701493              403
                  Relationship                 179  48.196078              285
                  Single                       258  44.278689              365
                  Widow                         12  61.000000               22
                  Widowed                      106  46.760000              140
High School       Divorced                      16  64.666667               15
                  Married                       49  66.866667               71
                  Relationship                  42  49.615385               57
                  Single                        23  49.000000               31
                  Widow                          4  96.000000                4
                  Widowed                        4  52.000000                6
Master            Divorced                      52  60.083333               82
                  Married                       87  50.315789              106
                  Relationship                  61  36.800000               98
                  Single                        86  42.761905              132
                  Widow                          9  14.000000                5
                  Widowed                       33  40.000000               38
PhD               Divorced                     106  41.350000              126
                  Married                       91  60.000000              145
                  Relationship                 147  43.161290              217
                  Single                        71  49.315789              102
                  Widow                          3  25.000000                3
                  Widowed                       87  53.684211              125